
    /* reset styles */
    
    * {
      margin: 0px;
      padding: 0px;
    }
    
    /* begin styles */
    
      .colorful {
      background: #f0ead6;
      background-size: 1800% 1800%;
      animation: invert 6s /*alternate*/forwards;
    }
    
    @keyframes invert { 
      0%{background:#f0ead6;}
      /*  98%{background:#f0ead6;}*/
      100%{background:#464646;}
    }


       .colorful1 {
      color: #464646;
      background-size: 1800% 1800%;
      animation: invert1 6s ease-out forwards/* alternate*/;
    }   
 @keyframes invert1 { 
      0%{color:#464646;}
      100%{color:#f0ead6;}
    }

     .colorful2 {
      color: white;
      background-size: 1800% 1800%;
      animation: invert2 6s /*alternate*/ forwards;
    }  

@keyframes invert2 { 
      0%{color: white;}
      100%{color:#464646;}
    }




  .colorful3 {
      background: #464646;
      background-size: 1800% 1800%;
      animation: invert4 6s /*alternate infinite*/forwards;
    }
    
 @keyframes invert4 { 
      0%{background:#464646;}
      100%{background:#f0ead6;}
    }




a.colorful1:hover {
    color: red;
}










body{ background: #f0ead6; 
	}

    #container { background-color:#f0ead6;
    padding-bottom: 300px; 
	}

    #header {background: #464646;
    padding-top:100px;
padding-left:250px;
padding-right:250px;
padding-bottom:80px;}

    h1 {
    	color: white;
    font-family: 'Major Mono Display', monospace;
font-size: 60px;
text-align: center;
}


    a { text-decoration: none; font-family: 'Raleway', sans-serif;
color: #464646;
margin-top:2000px;
margin-left: 470px;}

    a:hover { color: white; }

    h3 { color: #464646;
    	font-size: 40px;
font-family: 'Major Mono Display', monospace;
font-size: 30px;
margin-left:460px;
margin-top:40px;
margin-bottom:30px;
}

.desc{ margin-left: 250px; font-family: 'Raleway', sans-serif;
color: white;
padding-top: 15px;
font-size: 20px;}



 











